interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gao.gov/search?f%5B0%5D=content_type_1%3ABid%20Protest%20Docket&search_mode=adv&f%5B1%5D=date%3Astart%2B2021-01-07%2Bend%2B2021-01-08&page=0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<link rel=\"canonical\" href=\"https://www.gao.gov/search\"
        />\n<meta property=\"og:type\" content=\"Website\" />\n<meta property=\"og:image\"
        content=\"https://www.gao.gov/themes/custom/gao/img/gao-gov-icon-800-mod.jpg\"
        />\n<meta name=\"twitter:card\" content=\"summary_large_image\" />\n<meta
        name=\"twitter:site\" content=\"@USGAO\" />\n<meta name=\"twitter:title\"
        content=\"U.S. Government Accountability Office (U.S. GAO)\" />\n<meta name=\"twitter:creator\"
        content=\"@USGAO\" />\n<meta name=\"twitter:url\" content=\"https://www.gao.gov/search\"
        />\n<meta name=\"twitter:image\" content=\"https://www.gao.gov/themes/custom/gao/img/gao-gov-icon-800-mod.jpg\"
        />\n<meta name=\"Generator\" content=\"Drupal 9 (https://www.drupal.org)\"
        />\n<meta name=\"MobileOptimized\" content=\"width\" />\n<meta name=\"HandheldFriendly\"
        content=\"true\" />\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n<link rel=\"icon\" href=\"/themes/custom/gao/favicon.ico\"
        type=\"image/vnd.microsoft.icon\" />\n\n    <title>U.S. GAO - Site Search</title>\n
        \   <script>\n    // Facebook\n    (function (d, s, id) {\n    var js, fjs
        = d.getElementsByTagName(s)[0];\n    if (d.getElementById(id)) return;\n    js
        = d.createElement(s); js.id = id;\n    js.src = '//connect.facebook.net/en_US/all.js';\n
        \   fjs.parentNode.insertBefore(js, fjs);\n    }(document, 'script', 'facebook-jssdk'));\n
        \   window.fbAsyncInit = function() {\n      var fb_id = document.querySelectorAll('[property=\"fb:app_id\"]')[0].getAttribute(\"content\");\n
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gao.gov/docket/b-418823.4
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<meta name=\"description\" content=\"Innovative
        Management &amp; Technology Approaches, Inc. (1333BJ19Q00280146 )\" />\n<link
        rel=\"canonical\" href=\"https://www.gao.gov/docket/b-418823.4\" />\n<meta
        pr[...]
[...]
